<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">Orçamentos Salvos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="orcamentos.length > 0">

    <ion-item *ngFor="let o of orcamentos; let i = index">

      <ion-label>
        <h2>Diária: R$ {{o.diaria}}</h2>
        <p>Dias: {{o.dias}}</p>
        <p>Total: R$ {{o.total}}</p>
        <p>Data: {{o.datareserva | date:'dd/MM/yyyy HH:mm'}}</p> <!-- ESTILIZAÇÃO DA DATA -->
      </ion-label>

      <ion-button color="danger" (click)="excluirOrcamento(i)">EXCLUIR</ion-button>
    </ion-item>

  </ion-list>
  <p *ngIf="orcamentos.length === 0" style="padding: 20px; text-align: center;">Nenhum orçamento salvo.</p>

  <div style="padding: 20px;">
    <ion-button expand="block" color="medium" (click)="voltar()">VOLTAR</ion-button>
  </div>
</ion-content>